<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <script type="text/javascript" src="./js/jquery-1.10.1.js"></script>
        <style type="text/css">
        *{margin:0;padding:0;font-style:normal;}
        a {color:#555; text-decoration:none; }
        a:hover { text-decoration:none; }
        img { border:none; }
        ol,ul,li { list-style:none; } 
     

        nav{
          width:100%;
          height:45px;
          background:   #BFEFFF;
          padding-top: 10px;
         position: fixed;
        }
         nav ul{
          width:85%;
          margin:0 auto;
          height:45px;
         
        }
         nav ul li{
          float:left;
          line-height:45px;
        
         
        }
        nav ul li:hover{
         background: #B9D3EE;
        font-weight: bold;
        
         
        }
         nav ul li a{
          padding-left: 20px;
          padding-right: 20px; 
          text-align: center;
          float:left;
           color:     #4F4F4F;
          line-height:45px;
          font-size: 23px;
          
        }
        table{

          margin:0 auto;
        }

      table,tr,td{
            text-align: center; 
          border:1px solid    #00FFFF;
         }

#footer{
  clear:both;
  height:80px;
  width:100%;
    background-image:url(../img/bgmarker.png) repeat scroll 0 0;
    background-color:#26272b;
  margin-top:20px;
}
#footer p{
 text-align:center;
 font-size:19px;
 letter-spacing:1px;
 line-height:60px;
 color:white;
 font-style:normal;
  
}


        </style>
    </head>
    <body>
    <nav>
      <ul>
          <li> <a href="/xiugai"> 显示所有说说</a></li>
          <li> <a href="/fabiao"> 发表说说</a></li>

          <li style="float:right;"><a href="/admin">修改登录</a> <li>
         
      </ul>
         
    </nav>
    <div style="height:60px;"></div>
  



    <table>
       <tr>
          <td >title</td>  
          <td>author</td> 
          <td>looker</td> 

          <td>speaker</td>
          <td>alltype</td>
          <td>good</td>
          <td>skills</td>
          <!-- <td>describe</td> -->
          <td>time</td>
          <td>tupian</td>
           <td>修改选项</td>
       </tr>

       <% for(var i=0;i<result.length;i++){ %>
         <tr>
            <td> <%= result[i].title %></td>  
            <td> <%= result[i].author %></td> 
            <td> <%= result[i].looker %></td> 
            <td> <%= result[i].speaker %></td>
            <td> <%= result[i].alltype %></td>
            <td> <%= result[i].good %></td>
            <td> <%= result[i].skills %></td>
           <!--  <td> <%= result[i].describe %></td> -->
            <td> <%= result[i].datetime %></td>
            <td><img src="/img/<%=result[i].tupian.tupian.name %>" alt=""    style="height:50px;width:100px;"/> </td>
            <td> 
                 <a href="/delete?title=<%= result[i].title %>">删除</a>
                 <a href="/doxiugai?title=<%= result[i].title %>">修改</a>

            </td>
         </tr>


       <%}%>


    </table>
<footer id="footer">
   <p> Copyright ©2016 [孙全科的博客] Powered By [博客] Version 2.0.0  </p>
</footer>

    </body>
</html>